@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

:root {
	--main-bg-color: #262933;
	--main-bg-color-alt: hsl(226, 15%, 27%);
	--subject-color: #ffaf60;
	--location-color: hsl(164, 28%, 30%);
	--equipment-color: hsl(222, 21%, 39%);
	--tag-color: hsl(164, 88%, 80%);
	--conditions-color: #ffa48e;
}

* {
	font-family: 'Vidaloka', serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	outline: none;
}

html {
	background: var(--main-bg-color);
	font-size: 62.5%;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 8rem;
	letter-spacing: 0.1rem;
	font-style: italic;
	color: var(--subject-color);
	text-shadow: 0 0.1rem 2.5rem var(--tag-color);
	text-transform: uppercase;
	margin: 4rem 0;
}

#print {
	width: 50px;
	height: 50px;
	cursor: pointer;
	fill: white;
	position: absolute;
	top: 30px;
	right: 30px;
}

.search-form {
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background-color: var(--equipment-color);
	border-radius: 0.5rem;
	margin-bottom: 5rem;
	padding: 25px 0;
	box-shadow: 0.5rem 1rem 2.5rem var(--tag-color);
	position: relative;
}

.search-form .inputs-container {
	margin-bottom: 25px;
	text-align: center;
}

.search-form .inputs-container input {
	margin: 1rem auto;
	width: 80% !important;
}

.alert {
	position: absolute;
	top: -3rem;
	left: 0;
	background-color: var(--conditions-color);
	width: calc(100% - 0.4rem);
	border-radius: 0.5rem;
	padding: 0.2rem;
}

.alert h3 {
	font-size: 1.8rem;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

.search-form input {
	font-size: 1.6rem;
	border: none;
	border-bottom: 0.1rem solid #ccc;
	margin: 0 0.5rem;
	border-radius: 0.5rem;
	height: 3rem;
}

.search-form input[type='text'] {
	padding: 0 0.5rem;
	width: 60%;
	color: #555;
}

.search-form input[type='submit'] {
	width: 25%;
	text-transform: uppercase;
	background-color: var(--subject-color);
	color: #fff;
}

.recipes {
	width: 90%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.recipe {
	width: 30rem;
	margin: 3rem;
	display: flex;
	flex-direction: column;
	background-color: var(--location-color);
	padding: 2rem;
	position: relative;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.3rem 0.5rem var(--tag-color);
}

.recipe h2 {
	background-color: rgba(161, 161, 161, 0.7);
	border-radius: 0.5rem;
	padding: 0.3rem 0.5rem;
	position: absolute;
	top: 2.5rem;
	left: 2.5rem;
	right: 2.5rem;
	font-size: 2.5rem;
	font-weight: 400;
	text-shadow: 0 0.5rem 0.5rem #555;
	color: #fff;
}

.recipe img {
	border-radius: 0.5rem;
	object-fit: cover;
}

.recipe a {
	font-size: 1.8rem;
	color: var(--subject-color);
}

.recipe button {
	font-size: 2rem;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--subject-color);
	border: none;
	border-radius: 0.5rem;
	height: 3rem;
	margin: 1.5rem 0 0.5rem;
}

.url-link {
	margin: 1rem auto;
	transition: color 300ms ease;
}

.recipe > .url-link:hover {
	color: #fff;
}

.recipe > button {
	cursor: pointer;
	transition: color 150ms ease-in;
	transition: background-color 350ms ease-out;
}

.recipe > button:hover {
	color: var(--subject-color);
	background-color: #fff;
}

.recipe-text {
	font-size: 15px;
	color: #fff;
	margin-top: 2rem;
}

.recipe-text a {
	color: var(--conditions-color);
	transition: all 0.33s ease-in-out;
}

.recipe-text a:hover {
	color: var(--subject-color);
}

button.show-full-text {
	font-size: 16px;
	background: transparent;
	color: hsl(30, 100%, 79%);
	margin-top: 0;
}

button.show-full-text:hover {
	background: transparent;
}

.ingredient-list {
	margin-top: 1rem;
	background-color: var(--main-bg-color-alt);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.ingredient-list li {
	margin: 0.5rem 0;
}

.ingredient-list .ingredient-text > p {
	margin: 0.5rem;
}

.ingredient-text {
	font-size: 1.5rem;
	color: #fff;
}

.ingredient-weight {
	color: var(--subject-color);
	font-size: 1.3rem;
}

@media screen and (max-width: 830px) {
	h1 {
		font-size: 6rem;
	}

	.search-form {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 667px) {
	h1,
	.search-form {
		margin-bottom: 0;
	}

	h1 {
		font-size: 4rem;
	}

	.search-form {
		transform: scale(0.6);
	}
}

@media screen and (max-width: 526px) {
	#print {
		top: 10px;
		right: 10px;
	}
}

@media screen and (max-width: 444px) {
	#print {
		position: relative;
		top: 20px;
	}

	.search-form {
		width: 135%;
	}
}

@media screen and (max-width: 444px) {
	h1 {
		font-size: 3.2rem;
	}

	.recipe {
		transform: scale(0.8);
	}
}
